/*.button {*/
/*    -fx-background-radius: 60px;*/
/*    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 3, 3);*/
/*}*/

/*.button:hover {*/
/*    -fx-background-color: #ABD6F1 ;//#99e6ff;*/
/*    -fx-text-fill: #001a0d ; //  #D1F2EB  #1a0000*/
/*-fx-transition: 0.7s;*/
/*}*/


.button {
    -fx-background-radius: 30px;
    -fx-background-color: linear-gradient(to bottom, #ffffff, #d6eaf8);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 3, 3);
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #abd6f1, #74b9d4);
    -fx-text-fill: #002233;
}
